{% extends 'Trainerbasic.html' %}

{% block title %}
Trainer Dashboard
{% endblock title %}

{% load static %}

{% block body %}
<p style="margin-top: 1%; margin-left: 2%;"><a href="Tdashboard">&#8592; Back</a></p>
<div class="container ml-6" >
    <h3 class="text-center mt-1" style="margin: 10px; font-family: Aldrich, sans-serif; font-weight: bold;">STUDENTS LIST</h3>
    <div class="card shadow">
        <div class="card-body">
            <form class="d-flex mb-1" method="POST" action="studsearch" style="margin-left: 30%; margin-right: 30%;">{% csrf_token %}
                <input class="form-control me-2 mr-1" type="search" placeholder="Student Search" aria-label="Search" name="studsearch">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <!-- <h5 class="text-center" style="font-family:Acme, sans-serif;"></h5> -->
            <div class="table-responsive table-bordered text-center scrollable">
                <table class="table table-bordered">
                    <thead>
                        <tr class="table-info">
                            <th>ID</th>
                            <th>Student&nbsp;Name</th>
                            <th>Student Email</th>
                            <th>College&nbsp;Name</th>
                            <th>Student&nbsp;Address</th>
                            <th>Phone&nbsp;Number</th>
                            

                        </tr>
                    </thead>
                    <tbody>
                     {% for profile in studetail %}
                        <tr><td class="table-light">{{profile.stud_id}}</td>
                            <td><a href="{{profile.stud_id}}/studata/" style="text-decoration: none;" ><b>{{profile.stud_name}}</b></a></td>
                            <td>{{profile.stud_email}}</td>
                            <td>{{profile.stud_college}}</td>
                            <td>{{profile.stud_address}}</td>
                            <td>{{profile.stud_phone}}</td>
                        </tr>
                    {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Table ends here -->

{% endblock body %}