{% extends 'Trainerbasic.html' %}

{% block title %}
Trainer Dashboard
{% endblock title %}

{% load static %}

{% block body %}

<div class="jumbotron" style="background-color:rgba(111, 180, 192, 0.397) ; height:570px;">
    <h1 class="text-center" style="margin-top: 100px;color: #003f54;font-family: Aldrich, sans-serif;font-style: normal;font-weight: bold;font-size: 40px;">ZETACODING MEMBERS</h1>
    <hr style="width: 660px;height: 0px;border-width: 3px;">
    <p class="text-center" style="font-size: 24px;font-family: Acme, sans-serif;font-style: italic;font-weight: normal;color: rgb(169,170,171);">An Inspiration for Innovation.</p>
    <p class="text-center" style="margin-top: 70px;"><a class="btn btn-success" role="button" href="Trdetails" style="font-size: 20px;background: #076d54;font-family: Acme, sans-serif;">Trainers</a><a class="btn btn-success" role="button" style="margin-left: 35px;font-size: 19px;background: #076d53;font-family: Acme, sans-serif;" href="studetails">Students</a></p>
</div>

{% endblock body %}
<!-- background:url('static/assets/img/photo-1504868584819-f8e8b4b6d7e3.jpg') center / cover no-repeat, #ffffff; -->
